version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: feira-smart-db
    restart: always
    environment:
      POSTGRES_DB: feira_smart
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha123
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

